.feedback {
  position: relative;
  padding-top: 166px;
  padding-bottom: 247px;
  background: linear-gradient(-41deg, $color-deep-sky-blue 66.4%, $color-cerulean 66.4%);

  @include vp-1023 {
    padding-top: 46px;
    padding-bottom: 125px;
    background: $color-deep-sky-blue;
  }

  @include vp-767 {
    padding-bottom: 88px;
  }
}

.feedback__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.feedback__info {
  order: 1;
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  width: 55%;
  min-width: 580px;
  max-width: 590px;
  padding-right: 10px;

  @include vp-1023 {
    width: 100%;
    padding: 0;
    max-width: 100%;
  }

  @include vp-767 {
    min-width: 100%;
  }
}

.feedback h2 {
  order: 1;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  font-weight: $fw-normal;
  font-size: $fz-default;
  line-height: $lh-medium;
  font-family: $ff-mono;
  color: $color-white;

  @include vp-1023 {
    margin-bottom: 26px;
  }

  @include vp-767 {
    max-width: 450px;
    padding-right: 20px;
    font-size: $fz-small;
    line-height: $lh-pre-modarate;
    margin-bottom: 34px;
  }
}

.feedback p {
  order: 0;
  margin: 0;
  margin-bottom: 15px;
  margin-left: -3px;
  padding: 0;
  font-weight: $fw-normal;
  font-size: $fz-large;
  line-height: $lh-large;
  font-family: $ff-roboto;
  color: $color-white;

  @include vp-1023 {
    margin-bottom: 6px;
    padding-left: 2px;
  }

  @include vp-767 {
    max-width: 500px;
    margin-bottom: 10px;
    font-size: $fz-pre-large;
    line-height: $lh-pre-large;
  }
}

.feedback form {
  order: 2;
  display: flex;
  flex-wrap: wrap;

  @include vp-767 {
    flex-direction: column;
  }
}

.feedback__item {
  flex: 1 1 46%;

  @include vp-767 {
    flex: 1 1 auto;
  }
}

.feedback__item--right {
  margin-right: 30px;

  @include vp-767 {
    margin-right: 0;
  }
}

.feedback__item input,
.feedback__form textarea {
  display: block;
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;
  padding: 15px;
  font-family: inherit;
  color: $color-default-white;
  border: none;
  border-radius: 3px;
  background-color: $color-black-pearl--15;
  appearance: textfield;
  cursor: text;

  &::placeholder {
    font-family: inherit;
    color: $color-white;
  }

  &:hover,
  &:focus,
  &:hover::placeholder,
  &:focus::placeholder {
    background-color: $color-default-white;
    color: $color-deep-sky-blue;
  }

  &:disabled,
  &:hover:disabled {
    background-color: $color-black-pearl--15;
    opacity: 0.5;
    cursor: none;
  }

  &:hover:disabled::placeholder {
    background-color: transparent;
    color: $color-default-white;
  }
}

.feedback textarea {
  flex: 1 1 100%;
  height: 155px;
  margin-bottom: 35px;
  padding: 25px 15px 15px 15px;
  color: $color-default-white;
  border: none;
  border-radius: 3px;
  background-color: $color-black-pearl--15;
  appearance: textfield;
  cursor: text;

  @include vp-1023 {
    padding-top: 32px;
  }

  @include vp-767 {
    flex: 1 1 auto;
    height: 180px;
    margin-bottom: 30px;
    padding-top: 25px;
  }
}

.feedback__checkbox {
  flex: 1 1 45%;
  order: 1;
  align-self: center;
  margin-left: -7px;
  margin-top: 15px;

  @include vp-1023 {
    flex: 1 1 35%;
    margin-left: auto;
    margin-top: 5px;
    padding-left: 28px;
  }

  @include vp-767 {
    flex: 1 1 auto;
    margin-top: 0;
    margin-left: -2px;
    padding-left: 0;
  }
}

.feedback__checkbox span {
  position: relative;
  display: block;
  margin: 0;
  padding-left: 33px;
  font-size: $fz-small;
  line-height: $lh-normal;
  color: $color-white;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 20%;
    left: 7px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid $color-white;
    border-radius: 2px;
    content: "";
  }

  @include vp-1023 {
    max-width: 93%;

    &::before {
      top: 24%;
    }
  }

  @include vp-767 {
    max-width: 100%;
    padding-right: 0;

    &::before {
      top: 20%;
    }
  }
}

.feedback__checkbox input[type="checkbox"]:checked + span::after {
  position: absolute;
  top: 30%;
  left: 11px;
  width: 7px;
  height: 7px;
  background-image: url("../../img/svg/icon-check.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";

  @include vp-1023 {
    top: 35%;
  }

  @include vp-767 {
    top: 34%;
    left: 10px;
  }
}

.feedback__checkbox input[type="checkbox"]:hover + span::before,
.feedback__checkbox input[type="checkbox"]:focus + span::before {
  background-color: $color-default-black;
  border: 1px solid $color-default-black;
}

.feedback__checkbox input[type="checkbox"]:disabled + span::before,
.feedback__checkbox input[type="checkbox"]:hover:disabled + span::before,
.feedback__checkbox input[type="checkbox"]:focus:disabled + span::before {
  opacity: 0.5;
  border: 1px solid $color-white;
  background-color: transparent;
}

.feedback__checkbox input[type="checkbox"]:disabled + span {
  cursor: none;
  opacity: 0.5;
}

.feedback__button {
  align-self: center;
  flex: 1 1 40%;
  display: block;
  min-width: 265px;
  margin: 0;
  margin-right: 50px;
  padding: 13px 15px 13px 15px;
  font-weight: $fw-bold;
  font-size: inherit;
  line-height: $lh-modarate;
  font-family: $ff-roboto;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: $ls-medium;
  border: none;
  border-radius: 3px;
  background-color: $color-black-pearl;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-default-white;
    color: $color-deep-sky-blue;
  }

  &:active {
    opacity: 0.5;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    color: $color-white;
    background-color: $color-black-pearl;
    opacity: 0.5;
    cursor: none;
  }

  @include vp-1023 {
    flex: 1 1 225px;
    max-width: 39%;
    padding: 16px 15px 10px 15px;
  }

  @include vp-767 {
    flex: 1 1 auto;
    min-width: 270px;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.feedback__poster {
  flex: 1 1 20%;
  position: relative;
  max-width: 510px;
  margin-right: 100px;
  transform: translateY(19%);

  @include vp-1023 {
    display: none;
  }
}

.feedback img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
