.feedback {
  position: relative;
  padding-top: 167px;
  padding-bottom: 248px;
  background: linear-gradient(-41deg, $color-deep-sky-blue 66.4%, $color-cerulean 66.4%);

  @include vp-1023 {
    padding-top: 46px;
    padding-bottom: 125px;
    background: $color-deep-sky-blue;
  }

  @include vp-767 {
    padding-bottom: 120px;
  }
}

.feedback__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.feedback__info {
  order: 1;
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  width: 55%;
  min-width: 580px;
  max-width: 590px;
  padding-right: 10px;

  @include vp-1023 {
    width: 100%;
    padding: 0;
    max-width: 100%;
  }

  @include vp-767 {
    min-width: 100%;
  }
}

.feedback h2 {
  order: 1;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-weight: $fw-normal;
  font-size: $fz-default;
  line-height: $lh-medium;
  font-family: $ff-mono;
  color: $color-white;

  @include vp-1023 {
    margin-bottom: 26px;
  }

  @include vp-767 {
    max-width: 450px;
    padding-right: 20px;
    font-size: $fz-small;
    line-height: $lh-pre-modarate;
    margin-bottom: 34px;
  }
}

.feedback p {
  order: 0;
  margin: 0;
  margin-bottom: 15px;
  margin-left: -4px;
  padding: 0;
  font-weight: $fw-normal;
  font-size: $fz-large;
  line-height: $lh-large;
  font-family: $ff-roboto;
  color: $color-white;

  @include vp-1023 {
    margin-bottom: 6px;
    padding-left: 3px;
  }

  @include vp-767 {
    max-width: 500px;
    margin-bottom: 10px;
    font-size: $fz-pre-large;
    line-height: $lh-pre-large;
  }
}

.feedback form {
  order: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 30px;
  row-gap: 20px;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }
}

.feedback input[type="text"],
.feedback input[type="tel"],
.feedback__button,
.feedback__checkbox {
  grid-column: span 1;
}

.feedback input[type="text"],
.feedback input[type="tel"],
.feedback textarea {
  display: block;
  width: 100%;
  min-height: 50px;
  padding: 15px;
  font-family: inherit;
  color: $color-default-white;
  border: none;
  border-radius: 3px;
  background-color: $color-black-pearl--15;
  appearance: textfield;
  cursor: text;

  @include vp-767 {
    margin-bottom: 20px;
  }

  &::placeholder {
    font-family: inherit;
    color: $color-white;
  }

  &:hover,
  &:focus,
  &:hover::placeholder,
  &:focus::placeholder {
    background-color: $color-default-white;
    color: $color-deep-sky-blue;
  }

  &:disabled,
  &:hover:disabled {
    background-color: $color-black-pearl--15;
    opacity: 0.5;
    cursor: none;
  }

  &:hover:disabled::placeholder {
    background-color: transparent;
    color: $color-default-white;
  }
}

.feedback__form textarea {
  grid-column: span 2;
  height: 155px;
  margin-bottom: 15px;
  padding-top: 25px;


  @include vp-1023 {
    padding-top: 32px;
  }

  @include vp-767 {
    min-height: 180px;
    margin-bottom: 30px;
    padding-top: 25px;
  }
}

.feedback__checkbox {
  align-self: center;
  position: relative;

  @include vp-767 {
    align-self: stretch;
    order: 1;
  }
}

.feedback__checkbox label {
  position: absolute;
}

.feedback__checkbox span {
  position: relative;
  display: block;
  margin-top: -7px;
  padding-right: 10px;
  padding-left: 35px;
  min-width: 250px;

  font-size: $fz-small;
  line-height: $lh-normal;
  color: $color-white;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 10px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid $color-white;
    border-radius: 2px;
    content: "";
  }

  @include vp-1023 {
    min-width: 320px;
    margin-top: -13px;
    padding-left: 25px;
    padding-top: 0;

    &::before {
      top: 45%;
      left: 0;
    }
  }

  @include vp-767 {
    max-width: 100%;
    margin-top: 0;
    padding-right: 0;
    padding-left: 30px;

    &::before {
      left: 5px;
    }
  }
}

.feedback__checkbox input[type="checkbox"]:checked + span::after {
  position: absolute;
  top: 43%;
  left: 13px;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background-image: url("../../img/svg/icon-check.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";

  @include vp-1023 {
    top: 43%;
    left: 3px;
  }

  @include vp-767 {
    left: 8px;
  }
}

.feedback__checkbox input[type="checkbox"]:hover + span::before,
.feedback__checkbox input[type="checkbox"]:focus + span::before {
  background-color: $color-default-black;
  border: 1px solid $color-default-black;
}

.feedback__checkbox input[type="checkbox"]:disabled + span::before,
.feedback__checkbox input[type="checkbox"]:hover:disabled + span::before,
.feedback__checkbox input[type="checkbox"]:focus:disabled + span::before {
  opacity: 0.5;
  border: 1px solid $color-white;
  background-color: transparent;
}

.feedback__checkbox input[type="checkbox"]:disabled + span {
  cursor: none;
  opacity: 0.5;
}

.feedback__button {
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self: start;
  display: block;
  min-width: 265px;
  margin: 0;
  padding: 14px 15px 13px 15px;
  font-weight: $fw-bold;
  font-size: inherit;
  line-height: $lh-modarate;
  font-family: $ff-roboto;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: $ls-medium;
  border: none;
  border-radius: 3px;
  background-color: $color-black-pearl;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-default-white;
    color: $color-deep-sky-blue;
  }

  &:active {
    opacity: 0.5;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    color: $color-white;
    background-color: $color-black-pearl;
    opacity: 0.5;
    cursor: none;
  }

  @include vp-1023 {
    padding: 16px 15px 10px 15px;
  }

  @include vp-767 {
    min-width: 270px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 25px;
  }
}

.feedback__poster {
  flex: 1 1 20%;
  position: relative;
  max-width: 510px;
  margin-right: 100px;
  transform: translateY(19%);

  @include vp-1023 {
    display: none;
  }
}

.feedback img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
