.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 880px;
  overflow: hidden;

  @include vp-1023 {
    min-height: 640px;
  }

  @include vp-767 {
    min-height: 560px;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    content: "";
    background: $bg-black-pearl-to-bottom;
  }
}

.hero__inner {
  position: relative;
  left: 125px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 320px;
  z-index: 2;

  @include vp-1023 {
    left: 0;
    min-height: 300px;
  }

  @include vp-767 {
    left: 0;
    min-height: 270px;
  }
}

.hero__inner h1 {
  max-width: 770px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 25px;
  font-weight: $fw-bold;
  font-size: $fz-huge;
  line-height: $lh-pre-huge;
  font-family: $ff-roboto;
  letter-spacing: $ls-interium;
  text-transform: uppercase;

  @include vp-1023 {
    margin-bottom: 0;
    padding-top: 10px;
    font-size: $fz-pre-huge;
    line-height: $lh-super-large;
  }

  @include vp-767 {
    margin-bottom: 8px;
    padding-top: 5px;
    font-size: $fz-large;
    line-height: $lh-pre-large;
  }
}

.hero__inner p {
  max-width: 685px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-size: $fz-interium;
  line-height: $lh-big;
  text-transform: lowercase;

  @include vp-1023 {
    margin-bottom: 57px;
  }

  @include vp-767 {
    max-width: 390px;
    margin-bottom: 44px;
    font-size: $fz-small;
    line-height: $lh-default;
  }
}

.hero__inner a {
  min-width: 410px;
  max-width: 500px;
  min-height: 55px;
  margin-top: auto;
  padding: 15px 10px;
  font-weight: $fw-bold;
  font-size: $fz-modarate;
  line-height: $lh-medium;
  font-family: $ff-roboto;
  letter-spacing: $ls-medium;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: $color-deep-sky-blue;
  border-radius: 3px;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-deep-sky-blue;
    background-color: $color-default-white;
  }

  &:active {
    opacity: 0.8;
  }

  @include vp-1023 {
    margin-left: 45px;
    margin-top: 0;
  }

  @include vp-767 {
    min-width: 270px;
    width: 100%;
    max-width: 410px;
    min-height: 40px;
    margin-left: 0;
    padding: 12px 5px 0;
    font-size: $fz-small;
    line-height: $lh-normal;
  }
}

.hero img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: $color-black-pearl--15;
}
