.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 120px;
  background: $black-pearl-to-bottom;
  z-index: 100;

  @include vp-1023 {
    position: absolute;
    min-height: 100px;
  }

  @include vp-767 {
    min-height: 70px;
  }
}

.main-header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 35px;

  @include vp-1023 {
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.main-header__logo {
  margin-right: 20px;
}

.main-header__aside {
  margin-right: 60px;

  @include vp-1023 {
    display: none;
  }
}
